# Second Step - Data Cleaning

In this file we handled all the missing data and scaled the data.
First, we will check for the types of the columns and check if there is NaN values.
Second, we use feature engineering to make 3 columns: 'size in Mb', 'Date in days', 'Experience in days'
After we saw there was problems with the types of some columns, we have done the following:
1. checked why they where different.
2. fixing the values accordingly:
    1. Experience Num - replace all he 'a' with '1'.
    2. Experience Num Type - changing the values from singular to plural.
    3. Experience Num Type - filling the NaN values with 'days'.
    4. SubTitle - filling the NaN values with the title from the same dataset.
    5. Date Type - filling the NaN values with 'month'.
    6. Owned Datasets - filling the NaN values with '1'.
    7. Location - filling the NaN values with 'Global'.
    8. Views, Downloads, Notebooks, Discussion,Owned Datasets - removing the ',' from the values.
3. checked if our dataset is cleaned as expected.

# Imports

In [12]:
import pandas as pd
import numpy as np
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# getting the data after the crawling

In [26]:
data_of_database_all_pages = pd.read_csv('All_Data_Stored_From_Kaggle.csv')

In [27]:
data_of_database_all_pages.head(3)

,Title,SubTitle,Version,Date Num,Date Type,Usability,Rating,Views,Downloads,Notebooks,...,Author,Location,Experience Num,Experience Num Type,Followers,Following,Owned Datasets,Code Helper,Discussion,Competitions
0,US Public Food Assistance,"Where does it come from, who spends it, who ge...",8,1,year,9.1,367,"92,967","15,336","1,771",...,JohnM,"Fort Worth, Texas, United States",7,years,1092,229,28,44,930,129
1,Kepler Exoplanet Search Results,10000 exoplanet candidates examined by the Kep...,2,4,year,8.2,639,"112,406","9,760","1,460",...,NASA,NaN,0,NaN,0,0,NaN,0,0,0
2,Things on Reddit,The top 100 products in each subreddit from 20...,1,4,year,5.9,204,"56,658","8,014","1,513",...,Aleksey Bilogur,"New York, New York, United States",5,years,1602,30,44,230,675,1

In [28]:
data_of_database_all_pages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2737 entries, 0 to 2736
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                2737 non-null   object
 1   SubTitle             2714 non-null   object
 2   Version              2737 non-null   int64
 3   Date Num             2737 non-null   int64
 4   Date Type            2596 non-null   object
 5   Usability            2737 non-null   float64
 6   Rating               2737 non-null   int64
 7   Views                2737 non-null   object
 8   Downloads            2737 non-null   object
 9   Notebooks            2737 non-null   object
 10  Topics               2737 non-null   int64
 11  Number Of Files      2737 non-null   object
 12  File Size            2674 non-null   float64
 13  File Size Type       2674 non-null   object
 14  Author               2737 non-null   object
 15  Location             1541 non-null   object
 16  Experience Num       2737 non-null   object
 17  Experience Num Type  1721 non-null   object
 18  Followers            2737 non-null   int64
 19  Following            2737 non-null   int64
 20  Owned Datasets       1721 non-null   object
 21  Code Helper          2737 non-null   int64
 22  Discussion           2737 non-null   object
 23  Competitions         2737 non-null   int64
dtypes: float64(2), int64(8), object(14)
memory usage: 513.3+ KB

# Fixing data #1:
replacing the letter 'a' with '1'.

In [29]:
data_of_database_all_pages['Experience Num'].unique()

array(['7', '0', '5', '4', '6', '3', '10', '9', '2', 'a', '8', '11', '12',
       '13'], dtype=object)

In [30]:
replace_Experience_Num = {'a': 1}
data_of_database_all_pages['Experience Num'].replace(replace_Experience_Num,inplace = True)

# Feature engineering:
### creating a new column for the size of the dataset with the columns'File Size' and 'File Size Type'
 scaling the file size num into MB -> (B -> /8000000, GB -> *1000, kB -> /1000) 
### creating a new column for the date of the dataset with the columns 'Date Num' and 'Date Type'
 changing the date type num into day -> (year -> *365, month -> *30, hour -> /24)
### creating a new column for the author experience with the columns 'Experience Num' and 'Experience Num Type'
 changing the experience type num into day -> (year -> *365, month -> *30, hour -> /24)

In [31]:
rows = data_of_database_all_pages.shape[0]
size_in_Mb = list()
Date_in_days  = list()
Experience_in_days  = list()

for index,row in data_of_database_all_pages.iterrows():
    size_type = row['File Size Type']
    if row['File Size'] == None:
        data = 1
    else:
        data = float(row['File Size'])
    if size_type == 'B':
        data = data/8000000
    elif size_type == 'GB':
        data = data*1000
    elif size_type == 'kB':
        data = data/1000 
    size_in_Mb.append(data)
    
    date_type  = row['Date Type']
    date = float(row['Date Num'])
    if date_type == 'year':
        date = date*365
    elif date_type == 'month':
        date = date*30
    elif date_type == 'hour':
        date = date/24
    Date_in_days.append(int(date))
    
    experience_type  = row['Experience Num Type']
    experience = float(row['Experience Num'])
    if experience_type == 'year' or experience_type == 'years':
        experience = experience*365
    elif experience_type == 'month' or experience_type == 'months':
        experience = experience*30
    elif experience_type == 'hour':
        experience = experience/24
    Experience_in_days.append(int(experience))
       
data_of_database_all_pages['size in Mb'] = size_in_Mb 
data_of_database_all_pages['Date in days'] = Date_in_days 
data_of_database_all_pages['Experience in days'] = Experience_in_days

# Fixing data #2:
changing the names from singular to plural and filling the missing data with "days"

In [32]:
data_of_database_all_pages["Experience Num Type"].unique()

array(['years', nan, 'year', 'months', 'days', 'month'], dtype=object)

In [33]:
replace_Experience_Num_Type = {'year':'years','month':'months'}
data_of_database_all_pages["Experience Num Type"].replace(replace_Experience_Num_Type,inplace = True)
data_of_database_all_pages["Experience Num Type"].fillna("days",inplace = True)

# Fixing data #3:
filling the missing subtitle data with the title from the same dataset

In [35]:
data_of_database_all_pages["SubTitle"].fillna(data_of_database_all_pages["Title"],inplace = True)

# Fixing data #4:
filling the missing data with "month"

In [36]:
data_of_database_all_pages["Date Type"].fillna("month",inplace = True)

# Fixing data #5:
filling the missing data with 1

In [37]:
data_of_database_all_pages["Owned Datasets"].fillna(1,inplace = True)

# Fixing data #6:
filling the missing data with "Global"

In [38]:
data_of_database_all_pages["Location"].fillna("Global",inplace = True)

# Fixing data #7:
after filling the missing data we wanted to remove the rows that still contain missing data

In [39]:
data_of_database_all_pages = data_of_database_all_pages.dropna()

# Checking
checking the data types and the non-null count that is the same in every column

In [40]:
data_of_database_all_pages.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2674 entries, 0 to 2736
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                2674 non-null   object
 1   SubTitle             2674 non-null   object
 2   Version              2674 non-null   int64
 3   Date Num             2674 non-null   int64
 4   Date Type            2674 non-null   object
 5   Usability            2674 non-null   float64
 6   Rating               2674 non-null   int64
 7   Views                2674 non-null   object
 8   Downloads            2674 non-null   object
 9   Notebooks            2674 non-null   object
 10  Topics               2674 non-null   int64
 11  Number Of Files      2674 non-null   object
 12  File Size            2674 non-null   float64
 13  File Size Type       2674 non-null   object
 14  Author               2674 non-null   object
 15  Location             2674 non-null   object
 16  Experience Num       2674 non-null   object
 17  Experience Num Type  2674 non-null   object
 18  Followers            2674 non-null   int64
 19  Following            2674 non-null   int64
 20  Owned Datasets       2674 non-null   object
 21  Code Helper          2674 non-null   int64
 22  Discussion           2674 non-null   object
 23  Competitions         2674 non-null   int64
 24  size in Mb           2674 non-null   float64
 25  Date in days         2674 non-null   int64
 26  Experience in days   2674 non-null   int64
dtypes: float64(3), int64(10), object(14)
memory usage: 584.9+ KB

# fixing the type of columns

In [41]:
data_of_database_all_pages["Views"].unique()

array(['92,967', '112,406', '56,658', ..., '13,243', '106,585', '142,157'],
      dtype=object)

## there is ',' as a thousand separator -> we don't want that
* the ',' changing the type of the column to Object(String).
* after removing the ',' we can change the type of the column into int

In [42]:
remove_comma = ["Views","Downloads","Notebooks","Discussion"]
def remove_pe(text): 
    text_without = text.replace(",", "")
    return text_without
for col in remove_comma:
    data_of_database_all_pages[col] = data_of_database_all_pages[col].apply(lambda x: remove_pe(x)).astype('int64')

In [43]:
data_of_database_all_pages["Owned Datasets"]= data_of_database_all_pages["Owned Datasets"].apply(lambda x: x.replace(',', '')
                                if isinstance(x, str) else x).astype('int64')

In [44]:
data_of_database_all_pages["Number Of Files"].unique()

array(['80', '1', '5074', '30', '2', '5856', '9', '6', '7', '5', '558k',
       '3', '103k', '4317', '51.9k', '203k', '24.3k', '251', '8539',
       '10.0k', '50.6k', '112k', '11', '508', '278k', '4', '87.0k',
       '41.2k', '153', '10', '33', '20.0k', '14', '5935', '13.2k', '6899',
       '8', '27.6k', '233', '16.8k', '414k', '42.9k', '84.5k', '202',
       '101k', '16.2k', '42', '810', '1844', '19', '16', '1371', '320',
       '4009', '59', '25', '12', '835', '327', '8733', '815', '12.9k',
       '13', '15.0k', '32', '380k', '487', '44.1k', '70.5k', '6362',
       '5608', '361', '39', '23', '1881', '18', '6004', '17', '998',
       '5539', '870', '83.7k', '300', '215', '2344', '613', '12.8k',
       '5784', '3664', '30.6k', '64.5k', '279', '948', '169', '31.5k',
       '51.5k', '733', '681', '21', '34', '264', '5173', '512', '266',
       '56.3k', '30.8k', '4900', '2195', '20', '29', '5015', '718',
       '6662', '228', '167', '15', '74', '3576', '6002', '429k', '28',
       '24', '76', '6881', '8389', '22', '11.4k', '465', '150', '29.4k',
       '4371', '695', '35', '27', '190', '249k', '113k', '28.3k', '46.4k',
       '3327', '1462', '7203', '3421', '37.3k', '134', '92.0k', '37',
       '1984', '9600', '1002', '2140', '71.3k', '114', '361k', '1120',
       '45', '100.0k', '3577', '208', '13.0k', '67.6k', '498', '4879',
       '6842', '1543', '1572', '16.4k', '1628', '2972', '33.3k', '2503',
       '132k', '3008', '4330', '38', '1330', '11.1k', '107k', '17.8k',
       '438', '49', '849', '1080', '6697', '557', '26', '384', '3733',
       '741', '1226', '2151', '43', '118k', '159', '57', '488', '8649',
       '14.1k', '153k', '398k', '1078', '7428', '62', '12.0k', '4419',
       '100k', '48', '1845', '56', '1000', '93', '381', '79', '36', '972',
       '2501', '7930', '507', '61', '114k', '78', '324', '224', '771',
       '53', '63', '157', '230', '2134', '16.5k', '31.1k', '81', '273',
       '1394', '3528', '136', '295', '4400', '366', '790', '50', '95',
       '129', '4516', '6495', '4843', '3176', '82', '769', '116', '2731',
       '560', '2587', '34.8k', '345', '1720', '3083', '2482', '349',
       '17.4k', '783', '120', '352', '349k', '24.5k', '70', '44', '55',
       '7330', '31', '21.7k', '145', '5340', '151', '299', '231', '375',
       '35.9k', '376', '21.2k', '564', '105', '253', '1777', '481',
       '32.3k', '165', '23.1k', '544', '149', '3092', '3477', '10000',
       '52', '369', '26.2k', '35.1k', '1295', '3264', '54', '740', '1059',
       '58.7k', '11.8k', '87.9k', '750', '146k'], dtype=object)

## there is 'k' as a thousand separator -> we don't want that
* the 'k' changing the type of the column to Object(String).
* after removing the 'k' and multiplying by 1000 the value we can change the type of the column into int

In [45]:
def value_to_int(x):
    if  type(x) == int:
        return x
    if x[-1] =='k': 
           x = float(x[:-1])*1000
    return int(x)

data_of_database_all_pages["Number Of Files"] = data_of_database_all_pages["Number Of Files"].apply(value_to_int)

## Changing the type of Experience Num into int

In [46]:
data_of_database_all_pages["Experience Num"].unique()

array(['7', '0', '5', '4', '6', '3', '10', '9', '2', 1, '8', '11', '12',
       '13'], dtype=object)

In [47]:
data_of_database_all_pages["Experience Num"] = data_of_database_all_pages["Experience Num"].astype('int64')

## Checking if our dataset is cleaned as expected

In [48]:
data_of_database_all_pages.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2674 entries, 0 to 2736
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                2674 non-null   object
 1   SubTitle             2674 non-null   object
 2   Version              2674 non-null   int64
 3   Date Num             2674 non-null   int64
 4   Date Type            2674 non-null   object
 5   Usability            2674 non-null   float64
 6   Rating               2674 non-null   int64
 7   Views                2674 non-null   int64
 8   Downloads            2674 non-null   int64
 9   Notebooks            2674 non-null   int64
 10  Topics               2674 non-null   int64
 11  Number Of Files      2674 non-null   int64
 12  File Size            2674 non-null   float64
 13  File Size Type       2674 non-null   object
 14  Author               2674 non-null   object
 15  Location             2674 non-null   object
 16  Experience Num       2674 non-null   int64
 17  Experience Num Type  2674 non-null   object
 18  Followers            2674 non-null   int64
 19  Following            2674 non-null   int64
 20  Owned Datasets       2674 non-null   int64
 21  Code Helper          2674 non-null   int64
 22  Discussion           2674 non-null   int64
 23  Competitions         2674 non-null   int64
 24  size in Mb           2674 non-null   float64
 25  Date in days         2674 non-null   int64
 26  Experience in days   2674 non-null   int64
dtypes: float64(3), int64(17), object(7)
memory usage: 584.9+ KB

# Exporting the updated database into csv file

In [49]:
data_of_database_all_pages.to_csv('All_Data_Stored_From_Kaggle_after_cleaning.csv')